<% content_for(:title) { "Sessions - #{@project.name} - Claude Explorer" } %>

<header class="page-header">
  <div class="page-header__breadcrumb">
    <%= link_to "Projects", projects_path %> /
    <%= link_to @project.name, @project %> /
  </div>
  <h1>Sessions</h1>
  <p class="page-header__subtitle"><%= @page.recordset.records_count %> sessions</p>
</header>

<section class="sessions-list">
  <%= with_manual_pagination :sessions, @page do %>
    <% @page.records.each do |project_session| %>
      <%= render "project_session", project_session: project_session %>
    <% end %>
  <% end %>
</section>
